
@{
    ViewData["Title"] = "All jokes";
    var jokes = ViewData["Jokes"] as IEnumerable<JokeWebApp.Models.JokeModel>;
}



@if (jokes.Count() > 0)
{
<p class="text-center text-primary">Here you can see all jokes from the database</p>
                <div>
                    <div>
                        @foreach (var joke in jokes)
                        {
                        <div class="m-lg-5">@joke.Joke </div>
                        }
                        </div>
                    </div>
}

else
{
                <p>Sorry, but the database is empty!</p>
}
