@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello</h1>
    <p class="text-center">Instructions:
    Register and log in as an admin to add a random new joke to the database.

    If you only want to read jokes, register and log in as a standart user.

    Enjoy!

    </p>
</div>
